#!/bin/bash

###########################################################################
#   Enable routing and nat                                                #
###########################################################################
iptables -t nat -F
iptables -t nat -A POSTROUTING -o tun0 -j MASQUERADE
echo  1 > /proc/sys/net/ipv4/ip_forward


###########################################################################
#   Custom commands                                                       #
###########################################################################
{% for cmd in server.commands %}
{{ cmd }}
{% endfor %}
